@media (min-width: 400px) {
    .blogs-posts-container .grid-container {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        max-width: 600px;
    }
    

     .blogs-posts-container .post-container {
        display: inline-block;
        padding: 0 10px;
        width: 50%;
        /* max-width: 320px; */
        margin: 0 auto;
        margin-bottom: 30px;
        
    }


}
@media (min-width: 610px) {
    /* ---------perfil.html----------- */
    .contact-main-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .contact-main-container .info {
        width: 50%;
    }
}
@media (min-width: 768px) {
    /* ---------index.html----------- */
    .home-main .home-main-text {
        font-size: 3.6rem;
        margin-top: 20px;
       
    }
    .home-main .home-main-button {
        margin-top: 0;
    }

    /* ---------perfil.html----------- */
    .profile-main-container .profile-container {
        display: flex;
        flex-direction: row;
        
    }
    .profile-container div {
        padding: 10px 20px;
    }
    .profile-main-container .profile-container h2 {
        margin-bottom: 20px;
    }
    .proyects-main-container {
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
    }
    .proyects-container {
        width: 50%;
        margin: 10px 10px;
    }
    



}
@media (min-width: 1024px) {

}
@media (min-width: 1200px) {
    
}



























































































































































/* @media (min-width: 320px) {
    .home-body {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

@media (min-width: 640px) {
    .home-body {
        position: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}












@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;

    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
    }
    .profile-main-container .profile-container {
        display: block;
    }









}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
} */