/* ---------index.html----------- */
@media (min-width: 768px) {
    .home-main .home-main-text {
        font-size: 3.6rem;
        margin-top: 20px;
       
    }
    .home-main .home-main-button {
        margin-top: 0;
    }
}
@media (min-width: 1024px) {

}
@media (min-width: 1200px) {
    
}



























































































































































/* @media (min-width: 320px) {
    .home-body {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

@media (min-width: 640px) {
    .home-body {
        position: inherit;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}












@media (max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;

    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
    }
    .profile-main-container .profile-container {
        display: block;
    }









}

@media (max-width: 600px) {
    .blogs-posts-container .post-container {
        max-width: 95%;
    }
} */